<div fxLayout.gt-xs="row" fxLayout.xs="column">
  <mat-card class="example-card" fxFlex.sm="100" fxFlex.gt-xs="25">
    <mat-card-header>
      <mat-card-title>Periodic Table</mat-card-title>
      <mat-card-subtitle>Element Identification</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="../assets/logos/periodic-table.jpg" height="160" width="160" alt="Birds" />
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="warn" routerLink="periodic-table">GO</a>
    </mat-card-actions>
  </mat-card>
</div>
