<div fxLayout.gt-xs="row" fxLayout.xs="column">
  <mat-card class="example-card" fxFlex.sm="100" fxFlex.gt-xs="25">
    <mat-card-header>
      <mat-card-title>States</mat-card-title>
      <mat-card-subtitle>Identify States by Shape</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img
        src="../assets/logos/states.png"
        height="114"
        width="184"
        alt="State Identification"
      />
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="states">GO</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" fxFlex.sm="100" fxFlex.gt-xs="25">
    <mat-card-header>
      <mat-card-title>States by Size</mat-card-title>
      <mat-card-subtitle>List of Stats by Land Mass</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img
        src="../assets/logos/size.png"
        height="160"
        width="160"
        alt="States by Size"
      />
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="states-size">GO</a>
    </mat-card-actions>
  </mat-card>
</div>
