<div fxLayout.gt-xs="row" fxLayout.xs="column">
  <mat-card class="example-card" fxFlex.sm="100" fxFlex.gt-xs="25">
    <mat-card-header>
      <mat-card-title>Addition</mat-card-title>
      <mat-card-subtitle>Basic Addition Questions</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" fxLayoutAlign="center" class="circle green">
          <span class="large">+</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="warn" routerLink="addition">GO</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" fxFlex.sm="100" fxFlex.gt-xs="25">
    <mat-card-header>
      <mat-card-title>Subtraction</mat-card-title>
      <mat-card-subtitle>Basic Subtraction Questions</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" fxLayoutAlign="center" class="circle purple">
          <span class="large">-</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="warn" routerLink="subtraction">GO</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" fxFlex.sm="100" fxFlex.gt-xs="25">
    <mat-card-header>
      <mat-card-title>Multiplecation</mat-card-title>
      <mat-card-subtitle>Basic Multiplecation Questions</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" fxLayoutAlign="center" class="circle blue">
          <span class="large">*</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="warn" routerLink="multiplecation">GO</a>
    </mat-card-actions>
  </mat-card>
</div>
