<ol>
  <li>Alaska</li>
  <li>Texas</li>
  <li>California</li>
  <li>Montana</li>
  <li>New Mexico</li>
  <li>Arizona</li>
  <li>Nevada</li>
  <li>Colorado</li>
  <li>Wyoming</li>
  <li>Oregon</li>
  <li>Idaho</li>
  <li>Utah</li>
  <li>Kansas</li>
  <li>Mennesota</li>
  <li>Nebraska</li>
  <li>South Dakota</li>
  <li>North Dakota</li>
  <li>Missouri</li>
  <li>Oklahoma</li>
  <li>Washington</li>
  <li>georgia</li>
  <li>Michigan</li>
  <li>Iowa</li>
  <li>Illinois</li>
  <li>Wisconsin</li>
  <li>Florida</li>
  <li>Arkansas</li>
  <li>Alabama</li>
  <li>North Carolina</li>
  <li>New York</li>
  <li>Mississippi</li>
  <li>Pennsylvania</li>
  <li>Louisiana</li>
  <li>Tennessee</li>
  <li>Ohio</li>
  <li>Kentucky</li>
  <li>Virginia</li>
  <li>Indiana</li>
  <li>Maine</li>
  <li>South Carolina</li>
  <li>West Virginia</li>
  <li>Maryland</li>
  <li>Vermont</li>
  <li>New Hampshire</li>
  <li>Massachusetts</li>
  <li>New Jersey</li>
  <li>Hawaii</li>
  <li>Connecticut</li>
  <li>Delaware</li>
  <li>Rhode Island</li>
</ol>
