<div fxLayout.gt-xs="row" fxLayout.xs="column">
  <mat-card class="example-card" fxFlex.sm="100" fxFlex.gt-xs="25">
    <mat-card-header>
      <mat-card-title>Math</mat-card-title>
      <mat-card-subtitle>Basic Math Questions</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="../assets/logos/math.png" height="160" width="160" alt="Math" />
      <p>
        Currently we have modules for addition and subtraction.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" routerLink="math">GO</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" fxFlex.sm="100" fxFlex.gt-xs="25">
    <mat-card-header>
      <mat-card-title>Geography</mat-card-title>
      <mat-card-subtitle>States mostly</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="../assets/logos/geography.png" height="160" width="160" alt="Geography" />
      <p>
        Current module is state identification by shape.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" routerLink="geography">GO</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" fxFlex.sm="100" fxFlex.gt-xs="25">
      <mat-card-header>
        <mat-card-title>Nature</mat-card-title>
        <mat-card-subtitle>Identify different animals</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="../assets/logos/nature.png" height="160" width="160" alt="Nature" />
        <p>
          Current module is state identification by shape.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn" routerLink="nature">GO</button>
      </mat-card-actions>
    </mat-card>
</div>
