<div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Math</mat-card-title>
      <mat-card-subtitle>Basic Math Questions</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Addition and Subtraction
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="math">GO</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Geography</mat-card-title>
      <mat-card-subtitle>States mostly</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        State Identification
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="geography">GO</a>
    </mat-card-actions>
  </mat-card>
</div>
