.mat-list-item {
  float: right;
  margin-bottom: 10px;
}

.responsive-image {
  width: 90%;
  height: 90%;
}

.answer {
  background-color: grey;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

a {
  padding-top: 20px;
}

.wrong {
  padding-bottom: 10px;
}

.answer-section {
  height: 200px;
  padding: 7px;
}

#state {
  max-height: calc(100vh - 200px);
}
